body{
  padding-top: 130px;
}

.header{
  padding: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
}

.header-container h1, .header-container h2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.search-wrapper{
  margin:10px 70px;
}

.search-bar{
  padding: 2px;
  padding-left: 10px;
  height: 30px;
  width: 25%;
  border: 2px solid #4FC3A1;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba( 0, 0, 0, 0.2 );
}



